VAMOS A LIMPIAR TODA LA INFO QUE TENEMOS

IMPORTAMOS LIBRERÍAS

In [2]:
import time
from time import sleep
import pandas as pd
import warnings
import re
warnings.filterwarnings("ignore")

In [ ]:
df_todoguarro = pd.DataFrame(todoguarro)
df_link = pd.DataFrame(link)
df_cuatro = pd.DataFrame(barrio)
df_tag = pd.DataFrame(tag)

In [ ]:
uno = []

for i in range(len(df_todoguarro)):
    #itera por cada fila de df
    dicc = {"Restaurantes": None,
        "Valorado": None,
        "Nota": None,
        "Gastos": None,
        "Delivery_Fee": None,
        "ETA": None,
        "Barrio": None,
        "Competidor": None}
    #Regex que hace split por "\n" y "•"
    cuasilimpio = re.split('\n|•',df_todoguarro.iloc[i][0])
    #Lambda que me quita los espacios en blanco " "
    list_dicc = list(filter(lambda x:(x!=" "),cuasilimpio))
    #Actualizar values de las keys de dicc, usando las condiciones de nuestras columnas
    dicc["Restaurantes"]= list_dicc[0]
    for i in list_dicc:
    #itera por cada elemento de list_dicc
        if i.startswith("Uno de los") or i.startswith("Valorado con"):
            dicc["Valorado"] = i
        elif i.startswith("Los gastos de"):
            dicc["Gastos"] = i
        elif i.startswith("Precio de"):
            dicc["Delivery_Fee"] = i
        elif ("min") in i:
            dicc["ETA"] = i
        elif i.startswith ("1.") or i.startswith("2.") or i.startswith("3.") or i.startswith("4.") or i.startswith("5."):
            dicc["Nota"] = i
            
    uno.append(dicc)

In [ ]:
dos = []

for i in range(len(df_tag)):
    #itera por cada fila de df
    dicc = {"Tags": None,
        "Precio": None}
    #Regex que hace split por "\n" y "•"
    cuasilimpio = re.split('\n|•',df_tag.iloc[i][0])
    #Lambda que me quita los espacios en blanco " "
    list_dicc = list(filter(lambda x:(x!=" "),cuasilimpio))
    for i in list_dicc:
    #itera por cada elemento de list_dicc
        if ("€") in i:
            dicc["Precio"] = i
        else:
            dicc["Tags"] = ii
            
    dos.append(dicc)

In [ ]:
df_uno = pd.DataFrame(uno)
df_uno.columns = ["Restaurantes","Valorado","Nota","Gastos","Delivery_Fee","ETA","Barrio","Competidor"]
df_dos = pd.DataFrame(dos)
df_dos.columns = ["Precio","Tags"]
df_tres = pd.DataFrame(direcc)
df_cuatro = pd.DataFrame(barrio)

In [ ]:
ubereats = pd.concat([df_uno, df_dos, df_tres, df_cuatro], axis=1)
ubereats.drop(['Barrio',"Competidor"], axis=1, inplace=True)
ubereats.columns = ["Restaurante","Valoración","Nota","Gastos","Delivery_Fee","ETA","Tag","Precio","Dirección","Barrio"]
ubereats.head(3)

EXPORTAMOS EL CSV LIMPIO

In [ ]:
ubereats.to_csv('UberEats.csv')

IMPORTAMOS EL CSV PARA UN CAMBIO MÁS

In [20]:
ue = pd.read_csv("../Data/UberEats.csv", index_col = 0)
ue.sample(3)

,Restaurante,Valoración,Nota,Delivery_Fee,ETA,Tag,Precio,Dirección,Barrio
433,Comida de Pueblo,26,3.0,2.4,35–45,Gourmet,€,"Avenida De La Reina Victoria 68, 28040",Carabanchel
551,Pollos a la brasa el Corral,31,4.6,3.0,30–50,Pollo,€,"Av. Pablo Neruda, 91, 28018",Puente de Vallecas
311,Taste of America,40,3.5,2.4,35–45,Americana,€,"Calle De Raimundo Fernández Villaverde 33, 28020",Tetuán

In [21]:
def tags (x):

    """
    THIS FUNCTION WILL HELP US TO CLEAN 'Tag' COLUMN. 
    FOR EVERYTHING RELATED TO THE Tags... RETURNS THE Tag Category
    """
    dicc_tags = {  
        'Pizza': '.*Pizza.*|.*talian.*|.*asta.*',
        'Pollo' : '.*Pollo.*|.*Chicken.*|.*Alitas.*',
        'Hamburguesa' : '.*Hamburguesa.*|.*hambu.*|.*America.*',
        'Kebab' : '.*Kebab.*',
        'Empanada' : '.*Empanada.*',
        'Dulce' : '.*ostres.*|.*cafe.*|.*apolitana.*|.*dwich.*|.*Cafetería.*|.*Dulce.*',
        'Asiática' : '.*ushi.*|.*ramen.*|.*japon.*|.*asiati.*|.*asiática.*|.*Fried.*|.*Árabe.*|.*Asiática.*',
        'India' : '.*Halal.*|.*India.*',
        'China' : '.*ina.*|.*China.*',
        'Comida rápida' : '.*ar food.*|.*Comida rápida.*',
        'Mediterránea' : '.*Tapas.*|.*roquetas.*|.*pañola.*|.*ritura.*|.*iterranea.*|.*Árabe.*',
        'SouthAmerica' : '.*nezolana.*|.*atinoam.*|.*olombiana.*|.*exica.*|.*oliviana.*|.*Sudam.*|.*peru.*|.*latina.*|.*Mediterránea.*',
        'Carne' : '.*arrilla.*|.*Carne.*',
        'Burritos' : '.*Burrit.*|.*Burritos.*',
        'Poke' : '.*oke.*|.*Poke.*',
        'Ensaladas' : '.*Saluda.*|.*reconf.*|.*vege.*|.*vegana.*|.*comfor.*|.*Ensaladas.*',
        'Gourmet' : '.*speciali.*|.*harina.*|.*queso.*|.*Gourmet.*',
        'Tienda' : '.*lcohol.*|.*cervez.*|.*veryday.*|.*Tienda.*'}
    

    for key,values in dicc_tags.items():

        if re.match(values, x):
            return key

In [24]:
ue['Tag_'] = ue['Tag'].apply(tags)

In [25]:
display(ue['Tag_'].value_counts())

Pizza            115
Hamburguesa       90
Pollo             85
SouthAmerica      51
Kebab             36
Empanada          35
India             29
Mediterránea      29
Dulce             27
China             25
Comida rápida     22
Carne             20
Burritos          14
Ensaladas         14
Tienda            13
Poke              13
Asiática          11
Gourmet            9
Name: Tag_, dtype: int64

In [26]:
ue

,Restaurante,Valoración,Nota,Delivery_Fee,ETA,Tag,Precio,Dirección,Barrio,Tag_
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, 28045",Centro,India
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, 28012",Centro,None
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, 28012",Centro,Pizza
3,Scarlett Real Food,28,3.1,1.90,40–50,Postres,€,"C/ Preciados 36, 28013",Centro,Dulce
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, 28012",Centro,Pizza
...,...,...,...,...,...,...,...,...,...,...
697,CHOCOLATES VALOR,12,4.1,2.90,60–70,Postres,€,"Calle De Francisco Silvela 63, 28006",Ciudad Lineal,Dulce
698,Sumo Grill,26,4.5,2.90,60–70,Opciones para alergias,€,"Calle De Ezequiel Solana, 52, 28017",Ciudad Lineal,None
699,Da Yuan,200,4.4,2.90,60–70,Pasta,€,"Calle Del Conde De Peñalver, 66, 28006",Ciudad Lineal,Pizza
700,Filippo Pizza,22,2.7,2.90,60–70,Americana,€,"Calle De Ricardo Ortiz, 20, 28017",Ciudad Lineal,Hamburguesa
701,Tennessee BBQ,77,4.8,2.90,60–70,Americana,€,"Calle Lopez de Hoyos 15, 28006",Ciudad Lineal,Hamburguesa