IMPORTO LIBRERÍAS

In [1]:
from pymongo import MongoClient
import pandas as pd
import pandas as pd
from shapely.geometry import Point
import requests
%pip install geopy

Requirement already satisfied: geopy in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (2.2.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/Caskroom/miniconda/base/envs/ironhack/lib/python3.8/site-packages (from geopy) (1.52)
Note: you may need to restart the kernel to use updated packages.

In [2]:
df = pd.read_csv("../Data/df_UberEats.csv", index_col = 0)
df.head(3)

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288

In [3]:
df['Coordenates'] = df[['Lon', 'Lat']].apply(list, axis=1).tolist()
df.head(3)

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon,Coordenates
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925,"[-3.69925, 40.40069]"
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124,"[-3.70124, 40.41538]"
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288,"[-3.69288, 40.40861]"

In [4]:
coordenadas = [-73.93, 40.82]

In [5]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [6]:
punto = type_point(coordenadas)
punto

{'type': 'Point', 'coordinates': [-73.93, 40.82]}

In [7]:
tp = []
for i in df["Coordenates"]:
    tp.append(type_point(i))
df['type_point'] = tp

In [8]:
df['type_point'][0]

{'type': 'Point', 'coordinates': [-3.69925, 40.40069]}

In [9]:
df.head(5)

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon,Coordenates,type_point
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925,"[-3.69925, 40.40069]","{'type': 'Point', 'coordinates': [-3.69925, 40..."
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124,"[-3.70124, 40.41538]","{'type': 'Point', 'coordinates': [-3.70124, 40..."
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288,"[-3.69288, 40.40861]","{'type': 'Point', 'coordinates': [-3.69288, 40..."
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, Madrid",Centro,40.41377,-3.70737,"[-3.70737, 40.41377]","{'type': 'Point', 'coordinates': [-3.70737, 40..."
5,Fritz Foods,41,4.5,0.40,30–40,Pizza,€,"Calle De Luchana 17, Madrid",Centro,40.43000,-3.70099,"[-3.70099, 40.43]","{'type': 'Point', 'coordinates': [-3.70099, 40..."

In [10]:
type(df.type_point[0])

dict

In [11]:
type_point(df["Coordenates"][0])

{'type': 'Point', 'coordinates': [-3.69925, 40.40069]}

In [12]:
client = MongoClient("localhost:27017")

In [13]:
client = MongoClient("localhost:27017")
db = client.get_database("PROJECT")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'PROJECT')

In [14]:
collection = db["DarkKitchens"]

In [15]:
"""collection.create_index([("type_point_","2dsphere")])"""

'collection.create_index([("type_point_","2dsphere")])'

In [16]:
data = df.to_dict(orient = 'records')

In [17]:
data[0:1]

[{'Restaurante': 'Badsha India Restaurant',
  'Valoracion': 200,
  'Nota': 4.4,
  'Delivery_fee': 1.0,
  'ETA': '15–35',
  'Tag': 'India',
  'Precio': '€',
  'Direccion': 'Calle De Embajadores,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.40069,
  'Lon': -3.69925,
  'Coordenates': [-3.69925, 40.40069],
  'type_point': {'type': 'Point', 'coordinates': [-3.69925, 40.40069]}}]

In [18]:
#collection.insert_many(data)

In [19]:
df.isnull().sum()

Restaurante     0
Valoracion      0
Nota            0
Delivery_fee    0
ETA             0
Tag             0
Precio          0
Direccion       0
Barrio          0
Lat             0
Lon             0
Coordenates     0
type_point      0
dtype: int64

PARA PODER HACER GEO-NEAR NECESITO UN DATAFRAME CON:
 - Distrito
 - Dirección 
 - Latitud en función a la dirección de input para el web scrapping
 - Longitud en función a la dirección de input para el web scrapping
 - Typepoint de la dirección
 - Distancia en función del tamaño del distrito

In [20]:
distritos = ("Centro",
             "Arganzuela",
             "Retiro",
             "Salamanca",
             "Chamartín",
             "Tetuán",
             "Chamberí",
             "Moncloa-Aravaca",
             "Carabanchel",
             "Usera",
             "Puente de Vallecas",
             "Moratalaz",
             "Ciudad Lineal")

In [21]:
direcciones = ("Plaza Mayor, Madrid",
             "Calle de Cáceres, 37, Madrid",
             "Calle de Amado Nervo, 12, Madrid",
             "Calle de Don Ramón de la Cruz, 87, Madrid",
             "Calle de Honduras, 14, Madrid",
             "Calle de Bravo Murillo, 281, Madrid",
             "Calle de García de Paredes, 3, Madrid",
             "Calle de Juan del Rosal, 1, Madrid",
             "Calle General Ricardos, 134, Madrid",
             "Calle Antonio Velasco Zazo, 39, Madrid",
             "Calle Hermanos Trueba, 60, Madrid",
             "Calle del Camino de los Vinateros, 161, Madrid",
             "Calle Virgen del Castañar, 19, Madrid")

In [22]:
lists = (distritos,direcciones)
dist = pd.concat([pd.Series(x) for x in lists], axis=1)
dist

                     0                                               1
0               Centro                             Plaza Mayor, Madrid
1           Arganzuela                    Calle de Cáceres, 37, Madrid
2               Retiro                Calle de Amado Nervo, 12, Madrid
3            Salamanca       Calle de Don Ramón de la Cruz, 87, Madrid
4            Chamartín                   Calle de Honduras, 14, Madrid
5               Tetuán             Calle de Bravo Murillo, 281, Madrid
6             Chamberí           Calle de García de Paredes, 3, Madrid
7      Moncloa-Aravaca              Calle de Juan del Rosal, 1, Madrid
8          Carabanchel             Calle General Ricardos, 134, Madrid
9                Usera          Calle Antonio Velasco Zazo, 39, Madrid
10  Puente de Vallecas               Calle Hermanos Trueba, 60, Madrid
11           Moratalaz  Calle del Camino de los Vinateros, 161, Madrid
12       Ciudad Lineal           Calle Virgen del Castañar, 19, Madrid

In [23]:
"""columnas = ["distrito" ,"direccion","lat","lon","type_point","metros"]"""

'columnas = ["distrito" ,"direccion","lat","lon","type_point","metros"]'

In [24]:
def geocode(direccion):
    """
    Esta función saca las coordenadas de la dirección que le pases
    """
    data = requests.get(f"https://geocode.xyz/{direccion}?json=1").json()
    try:
        return {"type": "Point", "coordinates": [data["latt"], data["longt"]]}
    except:
        return {"type": "Point", "coordinates": None}

In [25]:
"""from geopy.geocoders import Nominatim
import time
geolocator = Nominatim(user_agent="Juancho")


def latitud_longitud(direccion):
    time.sleep(10)
    location = geolocator.geocode(direccion)
    print(location)
    return [location.latitude, location.longitude]"""

'from geopy.geocoders import Nominatim\nimport time\ngeolocator = Nominatim(user_agent="Juancho")\n\n\ndef latitud_longitud(direccion):\n    time.sleep(10)\n    location = geolocator.geocode(direccion)\n    print(location)\n    return [location.latitude, location.longitude]'

In [26]:
"""geolocator.geocode("Calle de Juan del Rosal 1, Madrid")"""

'geolocator.geocode("Calle de Juan del Rosal 1, Madrid")'

In [27]:
distancia = (600, 700, 600, 600, 1000, 600, 500, 1200, 1200, 800, 1200, 700, 1200)
lat_long = ([-3.70459,40.41646], [-3.6985513,40.3987617], [-3.6745702,40.4090564], [-3.67299,40.42851], [-3.6786952,40.4593232], [-3.6989388,40.4602247], [-3.69934,40.43682], [-3.69931,40.43182], [-3.7257475,40.3926858], [-3.7061415,40.3814357], [-3.66127,40.38738], [-3.64277,40.40619], [-3.64962,40.43927])
dist['metros'] = distancia
dist['lat_lon'] = lat_long
dist.columns = ["distrito","direccion","metros","lat_lon"]
dist

,distrito,direccion,metros,lat_lon
0,Centro,"Plaza Mayor, Madrid",600,"[-3.70459, 40.41646]"
1,Arganzuela,"Calle de Cáceres, 37, Madrid",700,"[-3.6985513, 40.3987617]"
2,Retiro,"Calle de Amado Nervo, 12, Madrid",600,"[-3.6745702, 40.4090564]"
3,Salamanca,"Calle de Don Ramón de la Cruz, 87, Madrid",600,"[-3.67299, 40.42851]"
4,Chamartín,"Calle de Honduras, 14, Madrid",1000,"[-3.6786952, 40.4593232]"
5,Tetuán,"Calle de Bravo Murillo, 281, Madrid",600,"[-3.6989388, 40.4602247]"
6,Chamberí,"Calle de García de Paredes, 3, Madrid",500,"[-3.69934, 40.43682]"
7,Moncloa-Aravaca,"Calle de Juan del Rosal, 1, Madrid",1200,"[-3.69931, 40.43182]"
8,Carabanchel,"Calle General Ricardos, 134, Madrid",1200,"[-3.7257475, 40.3926858]"
9,Usera,"Calle Antonio Velasco Zazo, 39, Madrid",800,"[-3.7061415, 40.3814357]"
10,Puente de Vallecas,"Calle Hermanos Trueba, 60, Madrid",1200,"[-3.66127, 40.38738]"
11,Moratalaz,"Calle del Camino de los Vinateros, 161, Madrid",700,"[-3.64277, 40.40619]"
12,Ciudad Lineal,"Calle Virgen del Castañar, 19, Madrid",1200,"[-3.64962, 40.43927]"

In [28]:
unomas = []
for i in dist["lat_lon"]:
    unomas.append(type_point(i))
dist['type_point'] = unomas
dist

,distrito,direccion,metros,lat_lon,type_point
0,Centro,"Plaza Mayor, Madrid",600,"[-3.70459, 40.41646]","{'type': 'Point', 'coordinates': [-3.70459, 40..."
1,Arganzuela,"Calle de Cáceres, 37, Madrid",700,"[-3.6985513, 40.3987617]","{'type': 'Point', 'coordinates': [-3.6985513, ..."
2,Retiro,"Calle de Amado Nervo, 12, Madrid",600,"[-3.6745702, 40.4090564]","{'type': 'Point', 'coordinates': [-3.6745702, ..."
3,Salamanca,"Calle de Don Ramón de la Cruz, 87, Madrid",600,"[-3.67299, 40.42851]","{'type': 'Point', 'coordinates': [-3.67299, 40..."
4,Chamartín,"Calle de Honduras, 14, Madrid",1000,"[-3.6786952, 40.4593232]","{'type': 'Point', 'coordinates': [-3.6786952, ..."
5,Tetuán,"Calle de Bravo Murillo, 281, Madrid",600,"[-3.6989388, 40.4602247]","{'type': 'Point', 'coordinates': [-3.6989388, ..."
6,Chamberí,"Calle de García de Paredes, 3, Madrid",500,"[-3.69934, 40.43682]","{'type': 'Point', 'coordinates': [-3.69934, 40..."
7,Moncloa-Aravaca,"Calle de Juan del Rosal, 1, Madrid",1200,"[-3.69931, 40.43182]","{'type': 'Point', 'coordinates': [-3.69931, 40..."
8,Carabanchel,"Calle General Ricardos, 134, Madrid",1200,"[-3.7257475, 40.3926858]","{'type': 'Point', 'coordinates': [-3.7257475, ..."
9,Usera,"Calle Antonio Velasco Zazo, 39, Madrid",800,"[-3.7061415, 40.3814357]","{'type': 'Point', 'coordinates': [-3.7061415, ..."
10,Puente de Vallecas,"Calle Hermanos Trueba, 60, Madrid",1200,"[-3.66127, 40.38738]","{'type': 'Point', 'coordinates': [-3.66127, 40..."
11,Moratalaz,"Calle del Camino de los Vinateros, 161, Madrid",700,"[-3.64277, 40.40619]","{'type': 'Point', 'coordinates': [-3.64277, 40..."
12,Ciudad Lineal,"Calle Virgen del Castañar, 19, Madrid",1200,"[-3.64962, 40.43927]","{'type': 'Point', 'coordinates': [-3.64962, 40..."

In [29]:
dist.dtypes

distrito      object
direccion     object
metros         int64
lat_lon       object
type_point    object
dtype: object

VAMOS A EMPEZAR CON LAS GEO-NEAR POR DISTRITO

In [30]:
restaurants = db.get_collection("DarkKitchens")

PARA UN SOLO DISTRITO
- FUNCIONA

In [35]:
dist.type_point[0]['coordinates']

[-3.70459, 40.41646]

In [36]:
all_spots = {"Coordenates": {"$near": {"$geometry":{'type': 'Point', 'coordinates':dist.type_point[0]['coordinates']},
                                                  "$maxDistance": int(dist.metros[0])}}}

In [37]:
all_spots

{'Coordenates': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': [-3.70459, 40.41646]},
   '$maxDistance': 600}}}

In [38]:
restcentro =(list(restaurants.find(all_spots)))

In [64]:
restcentro

[{'_id': ObjectId('61ba5698f36616449d5bd4b8'),
  'Restaurante': 'Las Muns',
  'Valoracion': 28,
  'Nota': 3.1,
  'Delivery_fee': 0.4,
  'ETA': '35–45',
  'Tag': 'Panadería',
  'Precio': '€',
  'Direccion': 'Calle Mayor, 31,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41613,
  'Lon': -3.70744,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70744, 40.41613]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4a5'),
  'Restaurante': 'Steak Burger',
  'Valoracion': 168,
  'Nota': 4.2,
  'Delivery_fee': 1.4,
  'ETA': '45–55',
  'Tag': 'Americana',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz, 20,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41553,
  'Lon': -3.70175,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70175, 40.41553]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4e0'),
  'Restaurante': 'El Turkito',
  'Valoracion': 200,
  'Nota': 4.1,
  'Delivery_fee': 1.9,
  'ETA': '40–50',
  'Tag': 'Asiatica',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz, 20,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41553,
  'Lon': -3.70175,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70175, 40.41553]}},
 {'_id': ObjectId('61ba5698f36616449d5bd50e'),
  'Restaurante': 'Empanadas BAIRES',
  'Valoracion': 30,
  'Nota': 3.1,
  'Delivery_fee': 2.99,
  'ETA': '35–55',
  'Tag': 'Empanada',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz, 20,   Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.41553,
  'Lon': -3.70175,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70175, 40.41553]}},
 {'_id': ObjectId('61ba5698f36616449d5bd551'),
  'Restaurante': 'Croqueteria Focos',
  'Valoracion': 29,
  'Nota': 2.9,
  'Delivery_fee': 2.9,
  'ETA': '35–45',
  'Tag': 'Croquetas',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz, 20,    Madrid',
  'Barrio': 'Salamanca',
  'Lat': 40.41553,
  'Lon': -3.70175,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70175, 40.41553]}},
 {'_id': ObjectId('61ba5698f36616449d5bd48d'),
  'Restaurante': 'TUTTO PASTA!',
  'Valoracion': 26,
  'Nota': 2.8,
  'Delivery_fee': 2.5,
  'ETA': '40–60',
  'Tag': 'Family Meals',
  'Precio': '€',
  'Direccion': 'Calle De Núñez De Arce, 11,  Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41538,
  'Lon': -3.70124,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70124, 40.41538]}},
 {'_id': ObjectId('61ba5698f36616449d5bd49e'),
  'Restaurante': 'La Alegría de la Huerta',
  'Valoracion': 28,
  'Nota': 3.1,
  'Delivery_fee': 0.9,
  'ETA': '25–35',
  'Tag': 'Vegetariano',
  'Precio': '€',
  'Direccion': 'Calle De Núñez De Arce 11,  Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41538,
  'Lon': -3.70124,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70124, 40.41538]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4e3'),
  'Restaurante': 'Pollo Criollo',
  'Valoracion': 28,
  'Nota': 3.1,
  'Delivery_fee': 1.4,
  'ETA': '45–55',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle De Núñez De Arce 11,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41538,
  'Lon': -3.70124,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70124, 40.41538]}},
 {'_id': ObjectId('61ba5698f36616449d5bd50d'),
  'Restaurante': 'Bur Burger',
  'Valoracion': 50,
  'Nota': 4.4,
  'Delivery_fee': 2.4,
  'ETA': '40–50',
  'Tag': 'Hamburguesas',
  'Precio': '€',
  'Direccion': 'Calle De Núñez De Arce 11,   Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.41538,
  'Lon': -3.70124,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70124, 40.41538]}},
 {'_id': ObjectId('61ba5698f36616449d5bd54d'),
  'Restaurante': 'PaellaGood',
  'Valoracion': 29,
  'Nota': 2.9,
  'Delivery_fee': 0.4,
  'ETA': '30–40',
  'Tag': 'Mediterránea',
  'Precio': '€',
  'Direccion': 'Calle De Núñez De Arce 11,   Madrid',
  'Barrio': 'Salamanca',
  'Lat': 40.41538,
  'Lon': -3.70124,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70124, 40.41538]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4d5'),
  'Restaurante': 'Streat Lab',
  'Valoracion': 50,
  'Nota': 4.6,
  'Delivery_fee': 2.9,
  'ETA': '50–60',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle Mayor, 38,  Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41611,
  'Lon': -3.70831,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70831, 40.41611]}},
 {'_id': ObjectId('61ba5698f36616449d5bd495'),
  'Restaurante': 'Roost Chicken',
  'Valoracion': 28,
  'Nota': 3.1,
  'Delivery_fee': 1.4,
  'ETA': '45–55',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle Mayor, 38,  Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41611,
  'Lon': -3.70831,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70831, 40.41611]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4d8'),
  'Restaurante': 'El Sabroso Albufera',
  'Valoracion': 30,
  'Nota': 3.9,
  'Delivery_fee': 2.9,
  'ETA': '30–40',
  'Tag': 'Comida rápida',
  'Precio': '€',
  'Direccion': 'Calle Núñez De Arce, 11,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41537,
  'Lon': -3.70106,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70106, 40.41537]}},
 {'_id': ObjectId('61ba5698f36616449d5bd6b5'),
  'Restaurante': 'Cantina Canalla',
  'Valoracion': 24,
  'Nota': 4.2,
  'Delivery_fee': 1.4,
  'ETA': '30–40',
  'Tag': 'De Latinoamérica',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz Del Sur 5,   Madrid',
  'Barrio': 'Puente de Vallecas',
  'Lat': 40.41625,
  'Lon': -3.70064,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70064, 40.41625]}},
 {'_id': ObjectId('61ba5698f36616449d5bd6f1'),
  'Restaurante': 'Nola Smoke',
  'Valoracion': 199,
  'Nota': 4.2,
  'Delivery_fee': 2.5,
  'ETA': '40–60',
  'Tag': 'Comida rápida',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz Del Sur 5,   Madrid',
  'Barrio': 'Moratalaz',
  'Lat': 40.41625,
  'Lon': -3.70064,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70064, 40.41625]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4b7'),
  'Restaurante': 'Pollos a la brasa el Corral',
  'Valoracion': 31,
  'Nota': 4.6,
  'Delivery_fee': 3.0,
  'ETA': '30–50',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle Mayor, 42,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41606,
  'Lon': -3.70853,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70853, 40.41606]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4f0'),
  'Restaurante': 'La Pizza é Bella',
  'Valoracion': 12,
  'Nota': 4.5,
  'Delivery_fee': 1.4,
  'ETA': '25–35',
  'Tag': 'Pizza',
  'Precio': '€',
  'Direccion': 'Calle Mayor, 42,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41606,
  'Lon': -3.70853,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70853, 40.41606]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4a6'),
  'Restaurante': 'Galipan',
  'Valoracion': 23,
  'Nota': 4.2,
  'Delivery_fee': 0.9,
  'ETA': '45–55',
  'Tag': 'Halal',
  'Precio': '€',
  'Direccion': 'Calle Del Dr Cortezo, 7,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41347,
  'Lon': -3.70389,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70389, 40.41347]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4df'),
  'Restaurante': 'Empanadas Malvón',
  'Valoracion': 31,
  'Nota': 5.0,
  'Delivery_fee': 1.4,
  'ETA': '25–35',
  'Tag': 'Empanada',
  'Precio': '€',
  'Direccion': 'Calle Del Dr Cortezo, 7,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41347,
  'Lon': -3.70389,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70389, 40.41347]}},
 {'_id': ObjectId('61ba5698f36616449d5bd50f'),
  'Restaurante': 'Galipan',
  'Valoracion': 23,
  'Nota': 4.2,
  'Delivery_fee': 2.4,
  'ETA': '60–70',
  'Tag': 'Halal',
  'Precio': '€',
  'Direccion': 'Calle Del Dr Cortezo, 7,   Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.41347,
  'Lon': -3.70389,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70389, 40.41347]}},
 {'_id': ObjectId('61ba5698f36616449d5bd5f3'),
  'Restaurante': 'Trek Taco',
  'Valoracion': 15,
  'Nota': 3.5,
  'Delivery_fee': 1.4,
  'ETA': '45–55',
  'Tag': 'Halal',
  'Precio': '€',
  'Direccion': 'Calle Del Dr Cortezo, 7,  Madrid',
  'Barrio': 'Chamberí',
  'Lat': 40.41347,
  'Lon': -3.70389,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70389, 40.41347]}},
 {'_id': ObjectId('61ba5698f36616449d5bd5f1'),
  'Restaurante': 'MILA TOWN',
  'Valoracion': 15,
  'Nota': 3.5,
  'Delivery_fee': 0.9,
  'ETA': '35–45',
  'Tag': 'Americana',
  'Precio': '€',
  'Direccion': 'Calle De La Cruz, 20, Local 1,  Madrid',
  'Barrio': 'Chamberí',
  'Lat': 40.41636,
  'Lon': -3.7006,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.7006, 40.41636]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4ae'),
  'Restaurante': 'MILA TOWN',
  'Valoracion': 28,
  'Nota': 3.1,
  'Delivery_fee': 1.4,
  'ETA': '35–45',
  'Tag': 'Americana',
  'Precio': '€',
  'Direccion': 'Plaza Del Comandante Las Morenas 3,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41624,
  'Lon': -3.70883,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70883, 40.41624]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4ec'),
  'Restaurante': 'Pura Italia',
  'Valoracion': 109,
  'Nota': 3.2,
  'Delivery_fee': 1.9,
  'ETA': '35–55',
  'Tag': 'Italiana',
  'Precio': '€',
  'Direccion': 'Plaza Del Comandante Las Morenas 3,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41624,
  'Lon': -3.70883,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70883, 40.41624]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4e6'),
  'Restaurante': 'Sonali Indian Restaurante',
  'Valoracion': 58,
  'Nota': 4.1,
  'Delivery_fee': 1.4,
  'ETA': '30–40',
  'Tag': 'India',
  'Precio': '€€€',
  'Direccion': 'Calle De Los Donados 2,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41799,
  'Lon': -3.70834,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70834, 40.41799]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4a0'),
  'Restaurante': "Domino's",
  'Valoracion': 89,
  'Nota': 4.4,
  'Delivery_fee': 1.0,
  'ETA': '15–25 ',
  'Tag': 'Pizza',
  'Precio': '€€',
  'Direccion': 'Calle De Los Donados 2,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41799,
  'Lon': -3.70834,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70834, 40.41799]}},
 {'_id': ObjectId('61ba5698f36616449d5bd5f7'),
  'Restaurante': 'Arepish',
  'Valoracion': 186,
  'Nota': 4.6,
  'Delivery_fee': 2.4,
  'ETA': '35–45',
  'Tag': 'Venezolana',
  'Precio': '€€€',
  'Direccion': 'Calle De Los Donados 2,   Madrid',
  'Barrio': 'Chamberí',
  'Lat': 40.41799,
  'Lon': -3.70834,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70834, 40.41799]}},
 {'_id': ObjectId('61ba5698f36616449d5bd48f'),
  'Restaurante': 'La Tagliatella',
  'Valoracion': 15,
  'Nota': 3.9,
  'Delivery_fee': 0.9,
  'ETA': '25–35',
  'Tag': 'Pizza',
  'Precio': '€',
  'Direccion': 'Calle De Toledo 27,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41377,
  'Lon': -3.70737,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70737, 40.41377]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4c6'),
  'Restaurante': "Domino's",
  'Valoracion': 33,
  'Nota': 4.3,
  'Delivery_fee': 1.0,
  'ETA': '15–35',
  'Tag': 'Pizza',
  'Precio': '€',
  'Direccion': 'Calle De Toledo 27,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41377,
  'Lon': -3.70737,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70737, 40.41377]}},
 {'_id': ObjectId('61ba5698f36616449d5bd5cd'),
  'Restaurante': 'Roost Chicken',
  'Valoracion': 40,
  'Nota': 3.5,
  'Delivery_fee': 0.9,
  'ETA': '40–50',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle De Toledo 27,   Madrid',
  'Barrio': 'Chamberí',
  'Lat': 40.41377,
  'Lon': -3.70737,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70737, 40.41377]}},
 {'_id': ObjectId('61ba5698f36616449d5bd498'),
  'Restaurante': 'Comida china yonghe',
  'Valoracion': 50,
  'Nota': 4.3,
  'Delivery_fee': 2.4,
  'ETA': '40–50',
  'Tag': 'China',
  'Precio': '€',
  'Direccion': 'Calle Preciados, 29 ,  Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41959,
  'Lon': -3.70641,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70641, 40.41959]}},
 {'_id': ObjectId('61ba5698f36616449d5bd492'),
  'Restaurante': 'Kahuna',
  'Valoracion': 25,
  'Nota': 4.6,
  'Delivery_fee': 1.4,
  'ETA': '45–55',
  'Tag': 'Burritos',
  'Precio': '€',
  'Direccion': 'Calle De La Aduana 25,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41841,
  'Lon': -3.70073,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70073, 40.41841]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4f3'),
  'Restaurante': 'Home Burger Bar',
  'Valoracion': 200,
  'Nota': 4.3,
  'Delivery_fee': 2.4,
  'ETA': '60–70',
  'Tag': 'Hamburguesas',
  'Precio': '€',
  'Direccion': 'Plaza De Puerta Cerrada 6,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41375,
  'Lon': -3.70816,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70816, 40.41375]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4ba'),
  'Restaurante': 'TGB',
  'Valoracion': 89,
  'Nota': 3.9,
  'Delivery_fee': 1.4,
  'ETA': '50–60',
  'Tag': 'Hamburguesas',
  'Precio': '€€€',
  'Direccion': 'Calle Vergara 3,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41775,
  'Lon': -3.71025,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.71025, 40.41775]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4b9'),
  'Restaurante': 'Chocolateria Tacita de Plata',
  'Valoracion': 13,
  'Nota': 4.1,
  'Delivery_fee': 0.4,
  'ETA': '35–45',
  'Tag': 'Postres',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 22,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.42011,
  'Lon': -3.7007,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.7007, 40.42011]}},
 {'_id': ObjectId('61ba5698f36616449d5bd523'),
  'Restaurante': 'Empanadas Pampas',
  'Valoracion': 30,
  'Nota': 3.1,
  'Delivery_fee': 1.9,
  'ETA': '35–45',
  'Tag': 'Empanada',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 22,  Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.42011,
  'Lon': -3.7007,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.7007, 40.42011]}},
 {'_id': ObjectId('61ba5698f36616449d5bd55c'),
  'Restaurante': 'CHUCK CHUCK CHICKEN',
  'Valoracion': 29,
  'Nota': 2.9,
  'Delivery_fee': 1.4,
  'ETA': '35–45',
  'Tag': 'Pollo',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 22,  Madrid',
  'Barrio': 'Salamanca',
  'Lat': 40.42011,
  'Lon': -3.7007,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.7007, 40.42011]}},
 {'_id': ObjectId('61ba5698f36616449d5bd524'),
  'Restaurante': 'TGB',
  'Valoracion': 89,
  'Nota': 3.9,
  'Delivery_fee': 2.4,
  'ETA': '60–70',
  'Tag': 'Hamburguesas',
  'Precio': '€',
  'Direccion': 'Calle Hortaleza,6,  Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.42047,
  'Lon': -3.70087,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.70087, 40.42047]}},
 {'_id': ObjectId('61ba5698f36616449d5bd5ef'),
  'Restaurante': 'Super naan',
  'Valoracion': 15,
  'Nota': 3.5,
  'Delivery_fee': 1.4,
  'ETA': '60–70',
  'Tag': 'India',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 16,  Madrid',
  'Barrio': 'Chamberí',
  'Lat': 40.41966,
  'Lon': -3.69894,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.69894, 40.41966]}},
 {'_id': ObjectId('61ba5698f36616449d5bd50b'),
  'Restaurante': 'Empanadas Malvón',
  'Valoracion': 35,
  'Nota': 4.8,
  'Delivery_fee': 1.4,
  'ETA': '25–35',
  'Tag': 'Empanada',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 16,  Madrid',
  'Barrio': 'Retiro',
  'Lat': 40.41966,
  'Lon': -3.69894,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.69894, 40.41966]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4a4'),
  'Restaurante': 'Super Dog',
  'Valoracion': 25,
  'Nota': 3.7,
  'Delivery_fee': 0.9,
  'ETA': '30–50',
  'Tag': 'Hamburguesas',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 16,   Madrid',
  'Barrio': 'Centro',
  'Lat': 40.41966,
  'Lon': -3.69894,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.69894, 40.41966]}},
 {'_id': ObjectId('61ba5698f36616449d5bd4e1'),
  'Restaurante': 'Galipan',
  'Valoracion': 23,
  'Nota': 4.2,
  'Delivery_fee': 1.9,
  'ETA': '55–65',
  'Tag': 'Halal',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 16,   Madrid',
  'Barrio': 'Arganzuela',
  'Lat': 40.41966,
  'Lon': -3.69894,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.69894, 40.41966]}},
 {'_id': ObjectId('61ba5698f36616449d5bd54a'),
  'Restaurante': 'MY Pasta Room',
  'Valoracion': 59,
  'Nota': 4.6,
  'Delivery_fee': 2.4,
  'ETA': '50–60',
  'Tag': 'Italiana',
  'Precio': '€',
  'Direccion': 'Calle Gran Vía, 16,    Madrid',
  'Barrio': 'Salamanca',
  'Lat': 40.41966,
  'Lon': -3.69894,
  'Coordenates': {'type': 'Point', 'coordinates': [-3.69894, 40.41966]}}]

In [40]:
counter_centro = 0
for i in restcentro:
    if i['Tag'] == 'Pizza':
        counter+=1
    elif i[''] ==

In [41]:
counter

4

In [72]:
"""toptags1 = df.Tag.value_counts().idxmax(10)
toptags1"""

'toptags1 = df.Tag.value_counts().idxmax(10)\ntoptags1'

In [73]:
"""type(toptags)"""

'type(toptags)'

INTENTO ITERAR PARA TODOS LOS DISTRITOS
- NO FUNCIONA ASÍ

In [31]:
for i in range(len(dist['distrito'])):
    all_spots_dist = {"Coordenates": {"$near": {"$geometry":{'type': 'Point', 'coordinates':dist.type_point[i]['coordinates']},
                                                  "$maxDistance": int(dist.metros[i])}}}

In [32]:
all_spots_dist

{'Coordenates': {'$near': {'$geometry': {'type': 'Point',
    'coordinates': [-3.64962, 40.43927]},
   '$maxDistance': 1200}}}

In [33]:
resttotales =(list(restaurants.find(all_spots_dist)))

In [46]:
resttotales[0]

{'_id': ObjectId('61ba5698f36616449d5bd718'),
 'Restaurante': 'Restaurante Chino Diamante',
 'Valoracion': 100,
 'Nota': 4.0,
 'Delivery_fee': 1.9,
 'ETA': '35–45',
 'Tag': 'China',
 'Precio': '€',
 'Direccion': 'Calle De Emilio Gastesi Fernández 12,  Madrid',
 'Barrio': 'Ciudad Lineal',
 'Lat': 40.43697,
 'Lon': -3.64814,
 'Coordenates': {'type': 'Point', 'coordinates': [-3.64814, 40.43697]}}

In [74]:
df.Tag.unique()

array(['India', 'Family Meals', 'Pizza', 'Burritos', 'De Latinoamérica',
       'Empanada', 'Pollo', 'China', 'Hamburguesas', 'Italiana',
       'Vegetariano', 'Postres', 'Tienda', 'Americana', 'Halal',
       'Asiatica', 'Venezolana', 'Colombiana', 'Tapas y raciones',
       'Tapas', 'Alitas de pollo', 'Panadería', 'Comida rápida',
       'Cerveza', 'Especialidades', 'Bar Food', 'Mediterránea', 'Poke',
       'Carne', 'Platos a base de harina', 'Saludable', 'Pasta', 'Kebab',
       'Comida reconfortante', 'Gourmet', 'Everyday Essentials',
       'Croquetas', 'Ramen', 'Sushi', 'Alcohol', 'Opciones para alergias',
       'Mexicana', 'Árabe', 'Española', 'Queso', 'Con opciones veganas',
       'Cafe', 'Napolitana', 'Comfort Food', 'Sándwich', 'Bocadillo',
       'Parrilla', 'Boliviana', 'Asiática', 'Sudamericana', 'Peruana',
       'Fusión latina', 'Japonesa', 'Fritura', 'Mediterranea',
       'Fusión asiática', 'Fried Foods', 'Sándwiches'], dtype=object)

In [65]:
dist.head()

,distrito,direccion,metros,lat_lon,type_point
0,Centro,"Plaza Mayor, Madrid",600,"[-3.70459, 40.41646]","{'type': 'Point', 'coordinates': [-3.70459, 40..."
1,Arganzuela,"Calle de Cáceres, 37, Madrid",700,"[-3.6985513, 40.3987617]","{'type': 'Point', 'coordinates': [-3.6985513, ..."
2,Retiro,"Calle de Amado Nervo, 12, Madrid",600,"[-3.6745702, 40.4090564]","{'type': 'Point', 'coordinates': [-3.6745702, ..."
3,Salamanca,"Calle de Don Ramón de la Cruz, 87, Madrid",600,"[-3.67299, 40.42851]","{'type': 'Point', 'coordinates': [-3.67299, 40..."
4,Chamartín,"Calle de Honduras, 14, Madrid",1000,"[-3.6786952, 40.4593232]","{'type': 'Point', 'coordinates': [-3.6786952, ..."

In [ ]:
all_spots = {"Coordenates": {"$near": {"$geometry":{'type': 'Point', 'coordinates':dist.type_point[0]['coordinates']},
                                                  "$maxDistance": int(dist.metros[0])}}}

In [70]:
toptags = ["Pizza","Hamburguesa","Pollo","Kebab","Empanada","Poke","Mexicano","Burritos"]

In [75]:
superlista =[]

for i,row in dist.iterrows():
    query_dist = {"Coordenates": {"$near": {"$geometry":{'type': 'Point', 'coordinates':dist.type_point[i]['coordinates']},
                                                  "$maxDistance": int(dist.metros[i])}}}
    restlist =(list(restaurants.find(query_dist)))
    
    dic_distr ={"Distrito":row["distrito"],"competidores": len(restlist),"Pizza":0,"Hamburguesa":0,"Pollo":0,"Kebab":0,"Empanada":0,"Poke":0,"Mexicano":0,"Burritos":0,"Venezolana":0}
    
    for i in restlist:
        if i['Tag'] == 'Pizza':
            dic_distr["Pizza"] += 1
        elif i['Tag'] == 'Hamburguesa':
            dic_distr["Hamburguesa"] += 1
        elif i['Tag'] == 'Pollo':
            dic_distr["Pollo"] += 1
        elif i['Tag'] == 'Kebab':
            dic_distr["Kebab"] += 1
        elif i['Tag'] == 'Empanada':
            dic_distr["Empanada"] += 1
        elif i['Tag'] == 'Poke':
            dic_distr["Poke"] += 1
        elif i['Tag'] == 'Mexicano':
            dic_distr["Mexicano"] += 1
        elif i['Tag'] == 'Burritos':
            dic_distr["Burritos"] += 1
        elif i['Tag'] == 'Venezolana':
            dic_distr["Venezolana"] += 1
    
    superlista.append(dic_distr)

In [80]:
darkkitchen = pd.DataFrame(superlista)
darkkitchen

,Distrito,competidores,Pizza,Hamburguesa,Pollo,Kebab,Empanada,Poke,Mexicano,Burritos,Venezolana
0,Centro,43,4,0,6,0,4,0,0,1,1
1,Arganzuela,38,13,0,2,1,1,1,0,0,1
2,Retiro,8,2,0,1,1,2,1,0,0,0
3,Salamanca,30,3,0,1,1,0,0,0,1,0
4,Chamartín,5,0,0,2,0,1,0,0,0,0
5,Tetuán,40,4,0,8,1,2,0,0,0,1
6,Chamberí,10,0,0,1,0,0,0,0,0,0
7,Moncloa-Aravaca,50,7,0,3,0,5,3,0,0,1
8,Carabanchel,19,2,0,2,3,0,0,0,1,0
9,Usera,10,0,0,2,0,0,0,0,1,2
10,Puente de Vallecas,43,2,0,9,3,0,1,0,3,3
11,Moratalaz,1,0,0,0,0,0,1,0,0,0
12,Ciudad Lineal,13,3,0,1,1,2,0,0,0,0