IMPORTO LIBRERÍAS

In [39]:
from pymongo import MongoClient
import pandas as pd
import pandas as pd
from shapely.geometry import Point

In [45]:
df = pd.read_csv("../Data/df_UberEats.csv", index_col = 0)
df.head(3)

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288

In [44]:
df['TypePoint'] = [Point(xy) for xy in zip(df.Lon, df.Lat)]
df

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon,TypePoint
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925,POINT (-3.69925 40.40069)
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124,POINT (-3.70124 40.41538)
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288,POINT (-3.69288 40.40861)
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, Madrid",Centro,40.41377,-3.70737,POINT (-3.70737 40.41377)
5,Fritz Foods,41,4.5,0.40,30–40,Pizza,€,"Calle De Luchana 17, Madrid",Centro,40.43000,-3.70099,POINT (-3.70099 40.43)
...,...,...,...,...,...,...,...,...,...,...,...,...
692,Frambons,22,2.7,2.40,35–45,Empanada,€,"Av. Del Mediterráneo, 30, Madrid",Ciudad Lineal,40.40675,-3.67267,POINT (-3.67267 40.40675)
694,Doner kebap efes,23,4.7,2.40,25–35,Kebab,€,"Calle De López De Hoyos, 139, Madrid",Ciudad Lineal,40.44849,-3.66731,POINT (-3.66731 40.44849)
695,Doner kebap efes,30,4.6,1.90,30–40,Kebab,€,"Calle De Alcalá 205, Madrid",Ciudad Lineal,40.44291,-3.61886,POINT (-3.61886 40.44291)
698,Sumo Grill,26,4.5,2.90,60–70,Opciones para alergias,€,"Calle De Ezequiel Solana, 52, Madrid",Ciudad Lineal,40.43037,-3.64518,POINT (-3.64518 40.43037)
699,Da Yuan,200,4.4,2.90,60–70,Pasta,€,"Calle Del Conde De Peñalver, 66, Madrid",Ciudad Lineal,40.43141,-3.67496,POINT (-3.67496 40.43141)

In [30]:
def type_point(lista):
    return {"type":"Point", "coordinates": lista}

In [36]:
print(df.Lon , df.Lat)

0     -3.69925
1     -3.70124
2     -3.69288
4     -3.70737
5     -3.70099
        ...
692   -3.67267
694   -3.66731
695   -3.61886
698   -3.64518
699   -3.67496
Name: Lon, Length: 668, dtype: float64 0      40.40069
1      40.41538
2      40.40861
4      40.41377
5      40.43000
         ...
692    40.40675
694    40.44849
695    40.44291
698    40.43037
699    40.43141
Name: Lat, Length: 668, dtype: float64

In [33]:
point = type_point([df["Lon"],df["Lat"]])
point

{'type': 'Point',
 'coordinates': [0     -3.69925
  1     -3.70124
  2     -3.69288
  4     -3.70737
  5     -3.70099
          ...
  692   -3.67267
  694   -3.66731
  695   -3.61886
  698   -3.64518
  699   -3.67496
  Name: Lon, Length: 668, dtype: float64,
  0      40.40069
  1      40.41538
  2      40.40861
  4      40.41377
  5      40.43000
           ...
  692    40.40675
  694    40.44849
  695    40.44291
  698    40.43037
  699    40.43141
  Name: Lat, Length: 668, dtype: float64]}

In [28]:
df["TypePoint"] = pd.Series(point)
df

,Restaurante,Valoracion,Nota,Delivery_fee,ETA,Tag,Precio,Direccion,Barrio,Lat,Lon,TypePoint
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, Madrid",Centro,40.40069,-3.69925,NaN
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, Madrid",Centro,40.41538,-3.70124,NaN
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, Madrid",Centro,40.40861,-3.69288,NaN
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, Madrid",Centro,40.41377,-3.70737,NaN
5,Fritz Foods,41,4.5,0.40,30–40,Pizza,€,"Calle De Luchana 17, Madrid",Centro,40.43000,-3.70099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
692,Frambons,22,2.7,2.40,35–45,Empanada,€,"Av. Del Mediterráneo, 30, Madrid",Ciudad Lineal,40.40675,-3.67267,NaN
694,Doner kebap efes,23,4.7,2.40,25–35,Kebab,€,"Calle De López De Hoyos, 139, Madrid",Ciudad Lineal,40.44849,-3.66731,NaN
695,Doner kebap efes,30,4.6,1.90,30–40,Kebab,€,"Calle De Alcalá 205, Madrid",Ciudad Lineal,40.44291,-3.61886,NaN
698,Sumo Grill,26,4.5,2.90,60–70,Opciones para alergias,€,"Calle De Ezequiel Solana, 52, Madrid",Ciudad Lineal,40.43037,-3.64518,NaN
699,Da Yuan,200,4.4,2.90,60–70,Pasta,€,"Calle Del Conde De Peñalver, 66, Madrid",Ciudad Lineal,40.43141,-3.67496,NaN

In [4]:
client = MongoClient("localhost:27017")

In [5]:
client = MongoClient("localhost:27017")
db = client.get_database("PROJECT")
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'PROJECT')

In [6]:
collection = db["DarkKitchens"]

In [7]:
collection.create_index([("type_point_","2dsphere")])

'type_point__2dsphere'

In [12]:
data = df.to_dict(orient = 'records')