IMPORTAMOS LIBRERÍAS

In [2]:
import pandas as pd
import numpy as np
import re
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

IMPORTAMOS EL CSV DE UBEREATS QUE LIMPIAREMOS

In [38]:
ue = pd.read_csv("../Data/UberEats.csv", index_col = 0)
ue.head(10)

,Restaurante,Valoración,Nota,Delivery_Fee,ETA,Tag,Precio,Dirección,Barrio
0,Badsha India Restaurant,200,4.4,1.00,15–35,India,€,"Calle De Embajadores, 28045",Centro
1,TUTTO PASTA!,26,2.8,2.50,40–60,Family Meals,€,"Calle De Núñez De Arce, 11, 28012",Centro
2,Pizza Central,31,3.8,2.99,35–55,Pizza,€,"Plaza Del Emperador Carlos V, 10, 28012",Centro
3,Scarlett Real Food,28,3.1,1.90,40–50,Postres,€,"C/ Preciados 36, 28013",Centro
4,La Tagliatella,15,3.9,0.90,25–35,Pizza,€,"Calle De Toledo 27, 28012",Centro
5,Fritz Foods,41,4.5,0.40,30–40,Pizza,€,"Calle De Luchana 17, 28010",Centro
6,Pizzart Luchana,28,3.1,1.90,50–60,Pizza,€,"Paseo De La Virgen Del Puerto, 45, 28005",Centro
7,Kahuna,25,4.6,1.40,45–55,Burritos,€,"Calle De La Aduana 25, 28013",Centro
8,Wacamole,50,3.9,0.90,40–50,De Latinoamérica,€,"Calle De Arriaza, 6, 28008",Centro
9,El Imperio de la Empanada,28,3.1,0.90,45–55,Empanada,€,"Calle De San Andrés, 26, 28004",Centro

In [32]:
for col in ue:
    print(col)
    print(" ")
    print(ue[col].value_counts())
    print("-" * 30)

Restaurante

Empanadas BAIRES    13
Papa John's         13
McDonald's          12
Popeyes             11
Arepish             11
                    ..
Popizza              1
La Manousheria       1
Burger Las Vegas     1
Crepes & Waffles     1
Filippo Pizza        1
Name: Restaurante, Length: 251, dtype: int64
------------------------------
Valoración

200    84
23     48
30     38
15     37
40     37
       ..
194     1
78      1
145     1
63      1
80      1
Name: Valoración, Length: 82, dtype: int64
------------------------------
Nota

4.3    60
4.2    60
4.6    56
3.5    53
4.4    51
3.1    48
4.5    44
2.9    43
4.1    42
3.6    42
3.8    36
3.0    22
4.8    21
2.7    21
4.0    17
3.9    16
3.7    13
4.9    12
2.8    11
4.7    11
5.0     4
3.2     4
3.4     2
3.3     1
Name: Nota, dtype: int64
------------------------------
Delivery_Fee

2.40    165
1.90    131
1.40    122
0.90     85
2.90     67
2.50     27
0.40     19
1.00     12
3.00     12
4.25     11
3.40     11
2.99      8
5.00      5
2.00      3
1.99      3
2.60      3
3.90      3
2.49      3
Name: Delivery_Fee, dtype: int64
------------------------------
ETA

40–50     109
35–45      93
30–40      84
45–55      75
25–35      71
50–60      48
40–60      34
20–30      33
55–65      30
30–50      27
60–70      25
15–35      18
35–55      13
15–25      10
5–25        4
20–40       3
10–30       3
15–25       2
70–80       2
65–75       2
50–70       2
45–65       2
Name: ETA, dtype: int64
------------------------------
Tag

Pizza                      91
Pollo                      81
Hamburguesas               69
Kebab                      36
Empanada                   35
                           ..
Especialidades              1
Platos a base de harina     1
Fried Foods                 1
Sándwiches                  1
Cafetería                   1
Name: Tag, Length: 64, dtype: int64
------------------------------
Precio

€      599
€€      56
€€€     35
Name: Precio, dtype: int64
------------------------------
Dirección

Calle Del Pico De La Maliciosa 6,  28038                9
Calle Felipe Fraile 5,  28038                           8
Calle De La Alianza 33,  28041                          8
Calle Azulejo 2,  28028                                 8
Calle Zabaleta 1,  28002                                7
                                                       ..
Calle De Bravo Murillo, 206, 28020                      1
Calle De Huesca, 19, Bajo, 28020                        1
C.C. La Vaguada, Av. De Monforte De Lemos, 32, 28029    1
Avenida De Monforte De Lemos 36, 28029                  1
Calle Del Conde De Peñalver, 66, 28006                  1
Name: Dirección, Length: 377, dtype: int64
------------------------------
Barrio

Centro                54
Arganzuela            54
Retiro                54
Salamanca             54
Chamartín             54
Tetuán                54
Chamberí              54
Moncloa-Aravaca       54
Usera                 54
Puente de Vallecas    54
Moratalaz             54
Ciudad Lineal         54
Carabanchel           42
Name: Barrio, dtype: int64
------------------------------

In [42]:
barrio = pd.read_csv("../Data/Barrios_cifras.csv")
barrio.head(13)

,Superficie,Superficie.1,Densidad,Población,0 a 15,16 a 64,65 +,% 0 a 15,% 16 a 64,% 65 +,Esp,Extr,% Esp,% Extr,Nacim,Def,C Natural,€ m2
0,Centro,523.000,270,141.236,10.608,108.667,21.961,8%,77%,16%,104.726,36.509,74%,26%,863.000,1.252,-389.000,4.865
1,Arganzuela,646.000,239,154.243,18.571,105.078,30.594,12%,68%,20%,137.604,16.637,89%,11%,1.142,1.764,-622.000,3.888
2,Retiro,546.000,217,118.557,14.443,73.037,31.077,12%,62%,26%,108.277,10.279,91%,9%,801.000,1.627,-826.000,4.502
3,Salamanca,539.000,271,146.016,16.147,95.122,34.747,11%,65%,24%,124.068,21.948,85%,15%,1.150,1.937,-787.000,5.740
4,Chamartín,917.000,161,145.700,19.913,91.663,34.124,14%,63%,23%,130.641,15.059,90%,10%,1.305,1.899,-594.000,4.999
5,Tetuán,537.000,297,159.849,18.293,111.262,30.294,11%,70%,19%,127.202,32.647,80%,20%,1.353,1.984,-631.000,3.649
6,Chamberí,467.000,296,138.667,14.767,90.307,33.593,11%,65%,24%,121.264,17.403,87%,13%,1.076,1.785,-709.000,5.283
7,Moncloa-Aravaca,4.654,26,120.834,17.036,77.360,26.438,14%,64%,22%,106.834,14.000,88%,12%,936.000,1.485,-549.000,3.912
8,Carabanchel,1.405,184,258.633,36.742,173.880,48.011,14%,67%,19%,202.322,56.311,78%,22%,1.906,3.057,-1.151,2.165
9,Usera,778.000,183,142.454,21.188,97.802,23.464,15%,69%,16%,107.442,35.010,75%,25%,1.124,1.554,-430.000,1.942
10,Puente de Vallecas,1.496,160,239.057,32.422,164.930,41.705,14%,69%,17%,190.004,49.051,79%,21%,1.960,2.779,-819.000,1.887
11,Moratalaz,610.000,154,93.810,10.702,58.667,24.441,11%,63%,26%,83.780,10.030,89%,11%,586.000,1.391,-805.000,2.569
12,Ciudad Lineal,1.143,190,216.818,26.603,140.979,49.236,12%,65%,23%,182.762,34.054,84%,16%,1.491,2.744,-1.253,2.912